* {
    margin: 0;
    font-family: "Roboto";
    padding-inline-end: 0;

}
.container {
    height: 100vh;
}
.header {
    background: linear-gradient(to right, #800199, #a500b4);
    margin-bottom: 15px;
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;
    padding: 38px;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 900;
    user-select: none;
    box-shadow: 0 2px 2px gray;

}
.header img {
    width: 100px;
    height: 100px;
    border-radius:50%;
    position: absolute;
    top: 12px; 
    left: 45px;
}

.nav {
    background-color: rgb(203, 255, 248);
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 2px rgb(156, 166, 255);
    margin-bottom: 2px;
}
.nav ul {
    display: flex;
}
.nav ul li {
    padding: 15px;
    list-style: none;
    font-weight: 700;
}
.nav ul li a {
    margin: 20px;
    color:blue;
    text-decoration: none;
}

.main {
    display: flex;
    min-height: 70%;
    
}
.aside {
    max-width: 150%;
    background-color: whitesmoke;
}
.aside ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.aside ul li {
    padding: 5px;
    margin: 10px;
    list-style: none;
    font-weight: 500;
}
.aside ul li a {
    text-decoration: none;
    color: blue;
}
.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    margin-top: 60px;
}
.tittle {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-weight: 700;
    text-transform: capitalize;
}
.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 300;
    font-style: italic;
    padding-top: 20px;
}
.text p {
    margin-bottom: 20px;
}

.footer {
    font-size: 12px;
    position: fixed;
    bottom: 0; left: 0;
    right: 0;
    text-align: center;
    padding: 10px;
    user-select: none;
}